.responsive-image {
    max-width: 100%;
    width: 30%;
    height: auto;
    display: block;
    margin: auto;
}

body {
    text-align: center;
    background-color:rgb(9, 9, 9);
    font-family: Arial, sans-serif;
    color: rgb(138, 138, 138);
}

@media (max-width: 600px) {
    body {
        text-align: center;
    }
}


